* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E3E9EA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-control {
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 30px
}

